@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
} 


:root{
  --voilet-color :#4D007D;
  --red-color : #B70000;
  --yellow-color : #E8B000;
  --green-color : #008413;
  --black-color: #121212;
  --grey-color : #E5E5E5;
  --white-color : #FFFFFF;
  --dark-grey-color : #A4A4A4 ;
}

