.leave-section-container {
    width: 100%;
    max-width: 388px;
    margin: auto;
    border-radius: 20px;
    background: var(--white-color);
    box-shadow: 0px 4px 10px 0px #12121233;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
    max-height: calc(100vh - 160px);
    min-height: calc(100vh - 155px);

    display: flex;
    flex-direction: column;
}

.calendar-header-title {
    background-color: var(--voilet-color);
    color: white;
    font-weight: 400;
    font-size: 16px;
    padding: 13px 16px;
    font-family: 'Nunito', sans-serif;
}

.approved-leaves {
    padding: 16px;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: 1px;
    flex-grow: 1;
}

.approved-leaves::-webkit-scrollbar {
    width: 1px;
}

.approved-leaves h4 {
    color: var(--voilet-color);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: -5px;
}

.leave-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}

.leave-item:last-child {
    border-bottom: none;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.leave-info {
    flex-grow: 1;
}

.name {
    font-weight: 600;
    font-size: 14px;
    color: var(--black-color);
}

.position {
    font-size: 12px;
    color: var(--dark-grey-color);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 140px;
}

.leave-date {
    font-size: 13px;
    color: var(--black-color);
}
