.sidebar {
    width: 18%;
    min-height: 100vh;
    border-right: 1px solid var(--grey-color);
    background-color: var(--white-color);
    padding: 20px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.logo-container {
    margin-bottom: 24px;
}

.section-title {
    color: var(--dark-grey-color);
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    padding: 5px;
    font-weight: 500;
}

.nav-item {
    position: relative;
}

.nav-item a {
    display: flex;
    align-items: center;
    padding: 8px 28px;
    text-decoration: none;
    color: var(--black-color);
    border-radius: 8px;
    gap: 16px;
    position: relative;
    z-index: 1;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.2s;
}

.nav-item a:hover {
    background-color: #f2f2f2;
}

.nav-item.active a {
    color: var(--voilet-color);
}

.highlight-bar {
    position: absolute;
    left: -20px;
    width: 8px;
    height: 38px;
    background-color: var(--voilet-color);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 0;
}

.bar-icon {
    margin-top: 3px;
    font-size: 16px;
    color: var(--black-color);
}

.nav-item.active a .bar-icon {
    color: var(--voilet-color);
}


.sidebar-toggle {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    font-weight: 800;
    padding: 8px;
    color: var(--white-color);
    cursor: pointer;
    border: none;
}

.sidebar-toggle.open::before{
    position: fixed;
    top: 15px;
    /* left: 170px; */
    transform: translateX(150px);
    transition: transform 0.3s ease;
}


@media (max-width: 1024px) {
    .sidebar {
        width: 20%;
        padding: 16px;
    }
    .nav-item a {
        padding: 6px 20px;
        font-size: 15px;
        gap: 12px;
    }

    .section-title {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        position: relative;
        top: 0;
        left: 0;
        width: 100px;
        transform: translateX(-10%);
        background-color: var(--white-color);
    }

    .sidebar.open {
        transform: translateX(0);
        /* Show when toggled */
    }

    .section-title {
        display: none;
    }

    .logo-container {
        margin-top: 0.6rem;
        margin-bottom: 6rem;
    }

    .sidebar .search-bar {
        display: none;
    }

    .label {
        display: none;
    }

    .logo-container .logo{
        font-size: 14px !important;
        gap: 5px;
    }

    .logo-container .rect-box{
        width: 20px !important;
        height: 20px !important;
        border-width: 3px !important;
    }
}

@media (max-width: 480px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 200px;
        height: 100vh;
        z-index: 999;
        transform: translateX(-100%);
        padding: 12px;
    }

    .sidebar-toggle {
        display: block;
        background-color: transparent;
        font-family: 'Nunito', sans-serif;
        font-size: 14px;
    }

    .sidebar-toggle.open::before {
        content: '✕';
        color: var(--voilet-color);
    }

    .sidebar-toggle::before {
        content: '☰';
        color: var(--voilet-color);
        font-size: 18px;
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .sidebar .search-bar {
        display: block;
    }

    .label {
        display: block;
    }

    .search-bar .search-icon {
        left: 10px;
        width: 16px;
        height: 16px;
    }

    .nav-item a {
        padding: 6px 20px;
        font-size: 14px;
        gap: 10px;
    }

    .section-title {
        font-size: 14px;
    }

    .logo-container {
        margin-top: 0;
        margin-bottom: 16px;
    }

    .logo-container .logo{
        font-size: 20px !important;
        gap: 5px;
    }

    .logo-container .rect-box{
        width: 32px !important;
        height: 32px !important;
        border-width: 5px !important;
    }
}