.sidebar {
    width: 280px;
    height: 94vh;
    border-right: 1px solid var(--grey-color);
    background-color: var(--white-color);
    padding: 20px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

.logo-container {
    margin-bottom: 24px;
}

.search-bar {
    position: relative;
    width: 100%;
    /* let it respect the container */
    box-sizing: border-box;
    overflow: hidden;
}

.search-bar .search-icon {
    position: absolute;
    top: 12px;
    left: 14px;
    width: 20px;
    height: 20px;
    color: var(--dark-grey-color);
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    padding-left: 38px;
    border: 1px solid var(--dark-grey-color);
    border-radius: 50px;
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


.section-title {
    color: var(--dark-grey-color);
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    /* margin: 12px 0 8px; */
    padding: 5px;
    font-weight: 500;
}

.nav-item {
    position: relative;
}

.nav-item a {
    display: flex;
    align-items: center;
    padding: 8px 28px 8px 28px;
    text-decoration: none;
    color: var(--black-color);
    border-radius: 8px;
    gap: 16px;
    position: relative;
    z-index: 1;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.2s;
}

.nav-item a:hover {
    background-color: #f2f2f2;
}

.nav-item.active a {
    color: var(--voilet-color);
}

.highlight-bar {
    position: absolute;
    left: -20px;
    width: 8px;
    height: 38px;
    background-color: var(--voilet-color);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 0;
}

.bar-icon {
    margin-top: 3px;
    font-size: 16px;
    color: var(--black-color);
}

.nav-item.active a .bar-icon {
    color: var(--voilet-color);
}

/* .logout a {
    color: var(--red-color);
}

.logout a:hover {
    background-color: #f8d7da;
} */