.toolbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 8px;
    background-color: white;
}

.toolbar-container .toolbar-right,
.toolbar-left {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.purple-border {
    color: #5e0fa3;
    border: 1px solid #5e0fa3;
}

.search-bar {
    position: relative;
    width: 100%;
    /* let it respect the container */
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
}

.search-icon {
    position: absolute;
    top: 10.5px;
    left: 14px;
    width: 20px;
    height: 20px;
    color: var(--dark-grey-color);
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    padding-left: 38px;
    border: 1px solid var(--dark-grey-color);
    border-radius: 50px;
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
