.leave-page-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 16px;
    align-items: start;
}

.leave-table-container {
    width: 70%;
}

.calendar-container {
    width: 30%;
    transition: transform 0.3s ease;
}

.calendar-btn {
    display: none;
    color: var(--voilet-color);
    border: none;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    border-radius: 50px;
    border: 2px solid var(--voilet-color);
    padding: 8px 40px;
}

.calendar-btn svg {
    width: 20px;
    height: 20px;
}

@media (max-width: 1024px) {
    .leaves .toolbar-container {
        flex-direction: row;
        gap: 12px;
    }
}

@media (max-width: 768px) {
    .leaves .toolbar-container {
        flex-direction: column;
        gap: 12px;
    }

    .leave-page-container {
        position: relative;
        overflow-x: hidden;
        /* Prevent horizontal scroll */
    }

    .calendar-container {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background: white;
        z-index: 10;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        scrollbar-width: none;
    }

    .leave-page-container::-webkit-scrollbar {
        display: none;
    }

    .calendar-container.open {
        transform: translateX(0%);
    }

    .calendar-container.close {
        transform: translateX(100%);
    }

    .leave-table-container {
        width: 100%;
    }

    .calendar-btn {
        display: flex;
    }
}

@media (max-width: 480px) {
    .calendar-btn{
        padding: 5px 35px;
    }
    .calendar-btn svg{
        width: 25px;
        height: 25px;
    }
}