.file-upload-field {
    margin-bottom: 1rem;
    position: relative;
    /* overflow: hidden; */
}

.file-upload-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid var(--voilet-color);
    border-radius: 16px;
    padding: 14px 16px;
    position: relative;
    cursor: pointer;
    transition: border 0.2s ease;
    background: var(--white-color);
    min-width: 0;
    position: relative;
}

.file-upload-wrapper.error {
    border-color: var(--red-color);
}

.file-upload-wrapper:hover {
    border-color: var(--voilet-color);
}

.file-label {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-color);
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    pointer-events: none;
    transition: all 0.2s ease;
    z-index: 2;
    background: var(--white-color);
    padding: 0 4px;
}

.file-label .required {
    color: var(--red-color);
    margin-left: 2px;
}

.file-upload-wrapper.has-file .file-label,
.file-label.float {
    top: -10px;
    transform: translateY(0);
    left: 12px;
    font-size: 14px;
    background: var(--white-color);
    padding: 0 4px;
    z-index: 2;
}

.file-input {
    position: absolute;
    width: 50%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-display {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
    position: relative;
    z-index: 1;
}

.file-name {
    font-size: 16px;
    color: var(--black-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80%;
    font-family: 'Nunito', sans-serif;
}

.icon {
    font-size: 1.2rem;
    color: var(--voilet-color);
    cursor: pointer;
    flex-shrink: 0;
    margin-left: 8px;
    width: 20px;
    height: 20px;
}

.icon.upload {
    margin-left: auto;
}

.error-msg {
    color: var(--red-color);
    font-size: 0.75rem;
    margin-top: 4px;
}

@media (max-width : 480px) {

    .file-name {
        font-size: 14px;
    }

    .file-label  {
        font-size: 12px;
    }

    .file-upload-wrapper.has-file .file-label,
    .file-label.float {
        font-size: 12px;
    }
}