@media (max-width: 1024px) {
    .employee .toolbar-container {
        flex-direction: row;
    }
}

@media (max-width: 480px) {
    .employee .toolbar-container {
        width: 100%;
        flex-direction: column;
    }
}