.custom-textfield {
    margin-bottom: 1rem;
    position: relative;
}

.textfield-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    background: var(--white-color);
    border: 1px solid var(--voilet-color);
    padding: 0.75rem 1rem;
    border-radius: 16px;
    transition: border 0.2s ease;
}

.textfield-wrapper input {
    width: 100%;
    padding: 0.1rem 0;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    background: transparent;
    font-family: 'Nunito', sans-serif;
}

.textfield-wrapper label {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: var(--white-color);
    padding: 0 0.25rem;
    color: var(--black-color);
    pointer-events: none;
    transition: all 0.2s ease;
    font-family: 'Nunito', sans-serif;
}

.textfield-wrapper input:focus+label,
.textfield-wrapper input:not(:placeholder-shown)+label {
    top: -0.1rem;
    left: 0.75rem;
    font-size: 14px;
    font-weight: 400;
    color: var(--voilet-color);
    font-family: 'Nunito', sans-serif;
}

.textfield-wrapper .textfield-icon {
    margin-left: auto;
    color: var(--voilet-color);
}

.required {
    color: var(--red-color);
    margin-left: 0.25rem;
}

.error-msg {
    color:  var(--red-color);
    font-size: 0.75rem;
    margin-top: 0.25rem;
}

.textfield-wrapper.error {
    border-color:  var(--red-color);
}